body {
  width: 100%;
  height: 100vh;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;

}



.navbar-header {
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;


}

i {
  font-size: 25px;
  font-weight: bold;
  color: #5f5e5e;
}

h1:i {
  font-size: 40px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar-inner {
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;

}

.nav .active {
  font-weight: bold;
  border: 3px solid #363434;
  border-radius: 20px;


}

ul.nav {
  width: 100%;
  text-align: center;
  list-style: none;


}


ul.nav li {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  border: 3px solid #dad9d9;
  background-color: transparent;
  transition: transform 0.3s ease;
  padding: 5px 25px;
}

ul.nav li:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;
  border: 3px solid #bebcbc;
  border-radius: 20px;
}


ul.nav li+li {
  margin-left: 36px;
}



* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
}

main {
  position: relative;
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contenedor-principal {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 20px;
}

.dos-img {
  width: 15%;
  height: auto;
  flex-direction: column;
  display: flex;
  margin: 10px;
}


.img1 {
  height: 40%;
}

.img2 {
  height: 60%;
  margin-top: 20px;

}

.tres-img {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}


.imagen-grande {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.imagen-grande img {
  width: 100%;
}

.imagenes-pequenas {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 20%;
  margin-top: 20px;

}

.imagenes-pequenas img {
  width: 48%;
}

.dos-imgs {
  width: 15%;
  height: auto;
  flex-direction: column;
  display: flex;
  margin: 10px;

}



.dos-imgs-2 {
  flex-direction: column;
  display: flex;
  margin: 10px;

}

.img3 {
  height: 40%;
  margin-bottom: 20px;
}

.img4 {
  height: 60%;
}

.dos-img-medianas {
  width: 15%;
  height: auto;
  flex-direction: column;
  display: flex;
  margin: 10px;


}

.img6 {
  height: 50%;
  margin-top: 20px;

}

.img5 {
  height: 65%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;


}

img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  h1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-inner {
    display: none;
  }
}

body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}


body:has(#theme-toggle:checked) {
  background-color: black;
  color: white;

  i {

    color: #ffffff;
  }
  label{
    background: rgb(255, 255, 255);
    color: black;
    font-size: 15px;
  }
}




label {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  user-select: none;
}

#theme-toggle {
  display: none;
}

.oscuro {
  padding: 10px;
}

i {
  font-size: 25px;
  font-weight: bold;
  color: #5f5e5e;
}